@model ApplicationRole
@{
    ViewData["Title"] = "Update";
}

<h1>Edit Role</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Roles">
            @Html.ValidationSummary(true,"",new{@class = "text-danger"})
            <input hidden asp-for="Id" />

            <partial name="PartialViews/CreateOrUpdate" model="@Model"/>

            <div class="my-3">
                <a class="btn btn-info" asp-action="AddOrRemoveUsers" asp-controller="Roles" asp-route-roleid="@Model.Id">Add Users To Role</a>
            </div>
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a asp-action="Index" class="btn btn-dark">Back To List</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
