
@{
    ViewData["Title"] = "Delete";
}
<h1>
    Delete Page
</h1>
    <center>
        <bold>
            Deleted
        </bold>
    </center>
    <br />
    <br />
    <br />
<a asp-action="Index" class="btn btn-success">Back To List</a>


