@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row mb-3">
    <div class="col-8">
        <form asp-action="Create" asp-controller="Employee" enctype="multipart/form-data">
            <partial name="PartialViews/CreateOrUpdate"/>
            <input type="submit" value="Add" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-dark">Back To List</a>
        </form>
    </div>
</div>

